<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/head") %>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Home</h1>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- MAIN CONTENT -->

    <header
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img
          src="/src/public/img/01_3D.jpg"
          class="w-50 m-auto animated bounceIn"
          alt="Website Logo"
        />
        <h1 class="display-1 my-5 text-uppercase fw-bold">Virtual Home</h1>
        <a href="/about" class="btn btn-primary w-25">About Us</a>
      </div>
    </header>

    <!-- section one -->
    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-center">
        <div class="col-md-4 offset-md-4">
          <h3>Lorem, ipsum dolor.</h3>
          <p>
            Elit exercitationem id illo sit distinctio. Deserunt ut debitis
            voluptates mollitia dignissimos eligendi vel quidem itaque dolores
            ratione ut. Soluta accusantium dolor nemo suscipit rerum. Aliquid
            quasi excepturi provident eos.
          </p>
        </div>
      </div>
    </div>

    <!-- === Footer === -->
    <%- include("partials/footer") %>
  </body>
</html>
