* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: 'Spicy Rice', cursive;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
